*.pdf
vivado.log
vivado_*.str
vcd_autosave.sav
*.vcd
*.ghw
.Xil
work-obj93.cf
work-obj08.cf
vhdl/**/*.o
vhdl/Vivado_tesi
vhdl/post_impl/xilinx-vivado/
vhdl/post_impl/*.vhd
vhdl/**/pwm_out.txt
vhdl/pwm.svg
vhdl/*.svg
vhdl/*.svg
serial_test/set_baud
